Django==1.4.3
South==0.7.6
argparse==1.2.1
certifi==0.0.8
chardet==2.1.1
httplib2==0.7.7
oauthlib==0.3.5
psycopg2==2.4.6
pyasn1==0.1.6
requests==1.1.0
rsa==3.1.1
simplejson==3.0.7
twython==2.5.5
wsgiref==0.1.2
